# .npmrc.local
# //registry.npmjs.org/:_authToken=npm_......

# .npmrc - legacy peer deps
legacy-peer-deps=true

# .npmrc - versioning config
version-commit-hooks=false
version-git-message="Release v%s"
version-git-tag=true
version-tag-prefix="v"
