# Ignore TypeScript build info files
*.tsbuildinfo

# Ignore markdown files
*.md

# Ignore build output directories
dist/

# Ignore npm config files
# .npmrc
.npmrc.local

# Ignore Mac system files
.DS_Store
Thumbs.db

# Ignore environment variable files
.env
.env.local
.env.*.local
